# OS files
.DS_Store
Thumbs.db

# Logs
*.log
logs/
log/

# Environment variables
.env
.env.*
*.env

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Node / JS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build / dist
build/
dist/
out/

# IDE / Editor
.vscode/
.idea/
*.swp

# Jupyter
.ipynb_checkpoints/

# Test / coverage
.coverage
htmlcov/
.pytest_cache/

# Random Files
adhoc_samples.py
learnings
*.db

# Front End Modules
node_modules/
static/dist/